@charset "UTF-8";

*{padding:0; margin:0; box-sizing:border-box; list-style:none;}
/* html{font-size:62.5%;} */
a{text-decoration: none;}
.border{border:1px solid red;}
button{background:transparent; border:none; cursor:pointer;}