@charset "UTF-8";

/* Box-sizing */
*,*::before,*::after{box-sizing: border-box; margin:0; padding:0; list-style:none;}

/* Remove text decoration */
a{text-decoration: none;}

/* form elements */
button,input,select,textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* button and input type="reset" */
button,
input[type="reset"] {
  -webkit-appearance: button;
}

/* font size and margin on IE */
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* font size of the reset type */
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="file"]::-webkit-file-upload-button,
button {
  -webkit-appearance: button;
  font-size: inherit;
  line-height: normal;
}

/* Firefox - Remove the inner border and padding of focusable elements */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Webkit - Remove the inner border and padding of focusable elements */
input[type="checkbox"]::-webkit-inner-spin-button,
input[type="radio"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Webkit - Correct the cursor style of increment and decrement buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Normalize textarea resizing */
textarea {
  resize: vertical;
}

/* Correct the odd appearance in Chrome and Safari */
input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* specific input types */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* IE - Reset buttons and inputs for consistent rendering */
button, input[type="button"] {
  overflow: visible;
}

/* Reset Table */
table{border-collapse: collapse; border-spacing: 0;}