@charset "utf-8";

#about_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--100vh);
  z-index: -1;
}

#about_bg svg{
  width: 100%;
  height: var(--100vh);
}

#about_top {
  height: var(--100vh);
}

#about_top #my_wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#about_top #my_wrap #about_left {
  width: 50%;
  max-width:600px;
}

#about_top #my_wrap #about_left img{width: 100%;}

#about_top #my_wrap #about_right {
  width: fit-content;
  margin-top: 300px;
  margin-left: -100px;
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  vertical-align: text-bottom;
}

#about_top #my_wrap #about_right .name{
  position: relative;
  width:fit-content;
  white-space: nowrap;
  color: var(--green);
  transition:all 1s;
}

#about_top #my_wrap #about_right .name span{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  color: var(--green);
  transform-origin: 50% 50% 30px;
  opacity: 0;
}
#about_top #my_wrap #about_right .name span:nth-child(1){opacity:1;}
#about_top #my_wrap #about_right .name span.in{
  opacity:1;
  transform:rotateX(0deg);animation: in 1s linear;
}
#about_top #my_wrap #about_right .name span.out{
  opacity:1;
  transform:rotateX(-90deg); animation: out 1s linear;
}
@keyframes in{
  0%{transform:rotateX(90deg);}
  100%{transform:rotateX(0deg);}
}
@keyframes out{
  0%{transform:rotateX(0deg);}
  100%{transform:rotateX(-90deg);}
}
#about_top #my_wrap #about_right .country{color: var(--pink);}

/* common use from about css */
#about_wrap .section {
  margin-bottom: 50px;
}

#about_wrap .info_title{
  font-size: 1.8rem;
  color: var(--green);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

#about_wrap .info_conts{
  font-size: 1.6rem;
  line-height: 1.5 !important;
}

#about_wrap .section_title {
  padding-left: 20px;
  font-family: "Momo Trust Display", sans-serif;
  font-style: italic;
  font-size: 10rem;
  line-height: 1;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.7);
  -webkit-text-fill-color: transparent;
  transform: translateY(80px);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition-delay: 0.3s;
}

#about_wrap .section.visible .section_title{
  transform: translateY(12.5px);
  opacity: 1;
}

#about_info_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  width: 100%;
  z-index: 2;
}

#about_info_wrap > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 50%;
  padding: 50px 60px;
  border: 1px solid rgba(255,255,255,0.5);
  background: #000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

#about_info_wrap .info_conts .tag{
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  border-right: 1px solid #fff;
  text-transform: uppercase;
}

#career_slide .career_wrap{
  padding: 60px 80px;
}

#skill_wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

#skill_wrap > div {
  max-width: 330px;
  width: 30%;
}

@media (max-width: 1024px) {
  #about_info_wrap {
    flex-direction: column;
  }

  #about_info_wrap > div{
    width: 100%;
    padding: 50px 60px;
  }

  #about_info_wrap .info_conts .tag{
    width: 80px;
    margin-right: 20px;
  }
}

@media (max-width: 768px){
  #about_top #my_wrap{
    flex-direction: column;
  }

  #about_top #my_wrap #about_left {
    width: 100%;
    max-width: 550px;
  }
  
  #about_top #my_wrap #about_right {
    margin-top: 0;
    margin-left: 0;
    margin-top: -80px;
  }

  #about_wrap .section.visible .section_title {
    transform: translateY(10px);
  }

  #skill_wrap > div {
    width: calc(50% - 30px);
  }  
}

@media (max-width: 560px) {
  #about_wrap .section.visible .section_title{
    padding-left: 10px;
    font-size: 7.2rem;
    transform: translateY(8px);
  }

  #about_info_wrap > div {
    padding: 30px 30px;
    border-radius: 10px;
  }

  #career_slide .career_wrap{
    padding: 60px 30px 30px;
  }

  #skill_wrap > div {
    width: calc(50% - 15px);
  }
}

@media (max-width: 440px) {
  #about_top {
    height: fit-content;
    padding: 20px 10px 70px;
  }  
}