@charset "utf-8";

/* dark mode setting */

*{color: #fff;}
body{background-color: #000;}
a{color: #fff;}

:root{
    --main_color:#ff0088;
    --sub_color:#1eec8b;
    --stroke:#fff;
    --border:#fff;
    --white:#fff;
    --body_color:#000;
    --modal_background:rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb{
	border-left:3px solid #1eec8ca2;
}
  


