.gal_title{
  position: relative;
  width: 90%;
  padding: 30px 0;
  margin: 0 auto 50px;
  overflow: hidden;
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #fff;
}

.gal_title.works_title{
  text-shadow: 
    0px 0px 3px #fff,
    0px 0px 6px var(--pink),
    0px 0px 10px var(--pink);
}

.gal_title.gallery_title{
  text-shadow: 
    0px 0px 3px #fff,
    0px 0px 6px var(--green),
    0px 0px 10px var(--green);
}

.gal_wrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 0 auto 50px;
}

.gal_wrap .gal_box{
  position: relative;
  width: calc((100% / 3) - 13.5px);
}

.gal_wrap .work_nm {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  text-align: center;
}

#modal_works{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:99999;
  display: none;
}

#modal_works.show{
  display: block;
}

#modal_works .modal_bg{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

#modal_works .modal_conts{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 780px;
  width: 90%;
  height: var(--100vh);
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#modal_works #btn_modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#modal_works #btn_modal_close::before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #ccc;
  transform: rotate(45deg) translateX(-50%);
}

#modal_works #btn_modal_close::after{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #ccc;
  transform: rotate(-45deg) translateX(-50%);
}

@media (max-width: 768px) {
  .gal_wrap .gal_box {
    width: calc((100% / 2) - 10px);
  }
}

@media (max-width: 560px) {
  .gal_wrap{
    gap: 50px 0;
  }
  .gal_wrap .gal_box {
    width: 100%;
  }
}